* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 100px;
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  max-width: 350px;
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  background-color: white;
}

.header {
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 10px;
}

input {
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 20px;
  padding: 2px 5px;
}

.subject {
  font-size: 20px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.719);
}

#subject1 {
  color: black;
}

.btn {
  background-color: blue;
  color: white;
  margin-left: 40px;
  padding: 8px 10px;
  border-radius: 15px;
  border: none;
}

.btn:hover {
  background-color: grey;
}

#subject1Grade {
  font-size: 20px;
  font-weight: 550;
  margin-left: 25px;
}

#subject2Grade {
  font-size: 20px;
  font-weight: 550;
  margin-left: 25px;
}

#subject3Grade {
  font-size: 20px;
  font-weight: 550;
  margin-left: 25px;
}

#subject4Grade {
  font-size: 20px;
  font-weight: 550;
  margin-left: 25px;
}

#subject5Grade {
  font-size: 20px;
  font-weight: 550;
  margin-left: 25px;
}

#totalScore {
  font-size: 20px;
  font-weight: 550;
  margin-left: 5px;
  color: black;
}

/* css responsiveness */

@media screen and (max-width: 500px) {
  body {
    padding: 30px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  .btn {
    background-color: blue;
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: 550;
  }
}

@media screen and (max-width: 375px) {
  .btn {
    background-color: blue;
    color: white;
    padding: 8px 5px;
    border-radius: 15px;
    border: none;
    max-width: 220px;
    font-size: 15px;
    font-weight: 550;
  }
}

@media screen and (max-width: 320px) {
  .btn {
    background-color: blue;
    color: white;
    margin-left: 10px;
    padding: 8px 5px;
    border-radius: 15px;
    border: none;
    max-width: 230px;
    font-size: 15px;
    font-weight: 550;
  }

  .subject {
    font-size: 15px;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.719);
  }

  input {
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 20px;
    padding: 2px 5px;
    max-width: 50px;
  }
}

@media screen and (max-width: 299px) {
  body {
    padding: 30px;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
  }

  .header {
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  .subject {
    font-size: 15px;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.719);
  }

  input {
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 20px;
    padding: 2px 5px;
    max-width: 50px;
  }

  .btn {
    background-color: blue;
    color: white;
    margin-left: -5px;
    padding: 8px 5px;
    border-radius: 15px;
    border: none;
    max-width: 220px;
    font-size: 15px;
    font-weight: 550;
  }
}
